<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
	This is a small sample app to test some rails shit. It will eventually become a blog.... This page, however, will likely stay the same because I won't remember changing it.
    </p>
  </body>
</html>
